---
// props
export interface Props {
  title: string;
  url: string;
  image: string;
  content: string;
}
const {
  title = "Title",
  url = "/",
  image,
  content = "Lorem ipsum ispum dollar messi lorem",
} = Astro.props;

// button component
import Button from "../ui/Button.astro";
---

<div
  class="grid py-5 md:grid-cols-2 md:grid-flow-col mx-5 rounded-lg group hover:shadow-sm hover:shadow-indigo-500 ease-in-out delay-50 transition hover:-translate-y-3"
>
  {
    image && (
      <div class="md:cols-1">
        <a href={url}>
          <img class="object-cover" src={image} alt="Work Image" />
        </a>
      </div>
    )
  }
  <div class="p-5 md:m-auto md:cols-1">
    <h3 class="tracking-wider text-2xl text-left font-semibold">
      {title}
    </h3>
    <p class="text-left text-white/80 p-2">
      {content}
    </p>
    <div class="text-right w-full md:w-1/2 mt-2">
      <a href={url} target="_blank">
        <Button title="Check Out" css="w-full" shadow={false} /></a
      >
    </div>
  </div>
</div>
